h1 {
    text-align: center;
}
 
.container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}
.popup-container {
    width: 35%;
    height: 45%;
    border-radius: 10%;
    position: fixed;
    top: 25%;
    left: 35%;
    background-color: white;
    animation-name: popup-animation;
    animation-duration: 2s;
}
@-webkit-keyframes popup-animation {
    from {top:0%}
    to {top: 25%}
}
.popup-img {
    display: flex;
    justify-content: center;
}

.btn {
    margin: 15px;
    width: 50%;
}
img {
    margin: 15px;
}
 
#close {
    position: absolute;
    right: 45%;
}

.duzyPrzycisk {
  display: block;
  width: 50%;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}